#build bin
**/bin/
!vendor/bin
!Kans3D/vendor/assimp/bin
!Kans3D/vendor/mono/bin
#build bin-int
bin-int/
#vs file
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.nsight-gfxproj
**.DotSettings
**.user
#vscode file
.vscode/
#Vulkan sdk
Kans3D/vendor/VulkanSDK/
#ProfileSpecication
KansEditor/ProfileSpecication/
# project Asset
#KansEditor/assets/model/
# c# bin file
Intermediates/
# c# complied dll
KansEditor/Resources/Scripts
# python cache
script/__pycache__

