[submodule "Kans3D/vendor/spdlog"]
	path = Kans3D/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Kans3D/vendor/glm"]
	path = Kans3D/vendor/glm
	url = https://github.com/g-truc/glm

