[submodule "Kans3D/vendor/spdlog"]
	path = Kans3D/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Kans3D/vendor/glm"]
	path = Kans3D/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Kans3D/vendor/GLFW"]
	path = Kans3D/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "Kans3D/vendor/imgui"]
	path = Kans3D/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Kans3D/vendor/yaml-cpp"]
	path = Kans3D/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp.git
